<p id="notice"><%= notice %></p>

<p>
  <strong>Chapter number:</strong>
  <%= @section.chapter_number %>
</p>

<p>
  <strong>Details:</strong>
  <%= @section.details %>
</p>

<p>
  <strong>Read by:</strong>
  <%= @section.read_by %>
</p>

<p>
  <strong>Source:</strong>
  <%= @section.source_id %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
