%h2.tasklist RollingRead &ndash; Tasklist

/- @assignments.each do |assignment|
/  %article.tasklist
/    %h3.tasklist= assignment.due_date
/    %section.tasklist
/      %p.tasklist#course= assignment.source.nil? ? assignment.source : assignment.source.course.nil? ? assignment.source.course : assignment.source.course.short_course
/      %p.tasklist#source= assignment.source.nil? ? assignment.source :  assignment.source.short_source
/      %p.tasklist#assignment= assignment.url.blank? ? assignment.short_assignment : link_to( assignment.short_assignment , assignment.url )
/      %p.tasklist#completed
/        = label_tag('Completed') 
/        = check_box_tag('completed', value = "true", checked = assignment.completed, disabled: true )

/  @grouped_assignments.each do | g_date, grouped |
/      grouped.each do |g_ass|
/        puts "#{g_date} - #{g_ass.id}"
/     end
/   end

- @grouped_assignments.each do |g_date, grouped|
  %article.tasklist
    %h3.tasklist= g_date
    - grouped.each do |g_assignment|
      %section.tasklist
        %p.tasklist#course= g_assignment.source.nil? ? g_assignment.source : g_assignment.source.course.nil? ? g_assignment.source.course : g_assignment.source.course.short_course
        %p.tasklist#source= g_assignment.source.nil? ? g_assignment.source : g_assignment.source.short_source
        %p.tasklist#assignment= g_assignment.url.blank? ? g_assignment.short_assignment : link_to( g_assignment.short_assignment , g_assignment.url )
        %p.tasklist#completed
          = label_tag('Completed') 
          = check_box_tag('completed', value = "true", checked = g_assignment.completed, disabled: true )

= render 'shared/nav_footer'

