= form_for @source do |f|
  - if @source.errors.any?
    #error_explanation
      %h2= "#{pluralize(@source.errors.count, "error")} prohibited this source from being saved:"
      %ul
        - @source.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :short_title
    = f.text_field :short_title
  .field
    = f.label :biblio_info
    = f.text_area :biblio_info
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :course_id
    = f.number_field :course_id
  .actions
    = f.submit 'Save'
