<p id="notice"><%= notice %></p>

<p>
  <strong>Short title:</strong>
  <%= @source.short_title %>
</p>

<p>
  <strong>Biblio info:</strong>
  <%= @source.biblio_info %>
</p>

<p>
  <strong>Url:</strong>
  <%= @source.url %>
</p>

<p>
  <strong>Course:</strong>
  <%= @source.course_id %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
