%p#notice= notice

%p
  %b Short title:
  = @source.short_title
%p
  %b Description:
  = @source.description
%p
  %b Dummy:
  = @source.dummy
%p
  %b Course:
  = @source.course.description

= link_to 'Edit', edit_source_path(@source)
\|
= link_to 'Back', sources_path
