= form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :course_number
    = f.text_field :course_number
  .field
    = f.label :short_title
    = f.text_field :short_title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :meet_days
    = f.number_field :meet_days

  .field
    = f.collection_select :semester, Semester.order(':start_date'), :id, :short_title, prompt: true

  .actions
    = f.submit 'Save'
