<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_number %><br>
    <%= f.text_field :course_number %>
  </div>
  <div class="field">
    <%= f.label :short_title %><br>
    <%= f.text_field :short_title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :meet_day1 %><br>
    <%= f.number_field :meet_day1 %>
  </div>
  <div class="field">
    <%= f.label :meet_day2 %><br>
    <%= f.number_field :meet_day2 %>
  </div>
  <div class="field">
    <%= f.label :meet_day3 %><br>
    <%= f.number_field :meet_day3 %>
  </div>
  <div class="field">
    <%= f.label :meet_day4 %><br>
    <%= f.number_field :meet_day4 %>
  </div>
  <div class="field">
    <%= f.label :meet_day5 %><br>
    <%= f.number_field :meet_day5 %>
  </div>
  <div class="field">
    <%= f.label :meet_day6 %><br>
    <%= f.number_field :meet_day6 %>
  </div>
  <div class="field">
    <%= f.label :meet_day7 %><br>
    <%= f.number_field :meet_day7 %>
  </div>
  <div class="field">
    <%= f.label :semester_id %><br>
    <%= f.number_field :semester_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
