%p#notice= notice

%p
  %b Course number:
  = @course.course_number
%p
  %b Short title:
  = @course.short_title
%p
  %b Description:
  = @course.description
%p
  %b Meet days:
  = @course.meet_days
%p
  %b Semester:
  = @course.semester.description

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
